.logo {
    height: 3cm;
    background-image: url('../img/pattern.png');
    background-color: rgb(88, 133, 255);
    background-size: contain ;
}
#title {
    font-size: 230%;
}
.fonte{
    color: rgb(151, 151, 151);
}
#thebooleaner {
    color: rgb(88, 133, 255);
}
thead{
    background-color: rgb(52, 135, 230);
    color: white;
}
.tablebody{
    background-color: rgb(84, 255, 255);
    color: black;
}